{% extends 'front-layout.html.twig' %}

{% block body %}
    <h1> {{ title }} </h1>

    <p>
        <h3> BIENVENUE SUR MON SITE </h3>
    </p>
    <p> 
        Vous y trouverez différentes rubriques à propos des jeux vidéos et plus particulièrement à 
        propos d'assassin's creed...

        <br>
     
        Assassin's Creed est une série de jeux videos, ci-dessous quelques faisant parti 
        de la série princiaple avec son sinopsis.

        <br>

        Pour voir plus veuillez vous connecter.
        
        <br>

        Bonne Lecture... ;)
    </p>

    <br>

    <p style="text-align: justify;">
        <h5> Assassin's Creed </h5>

        <div style="text-indent: 5%; text-align: justify; float: right;">
            Desmond est un barman qui est capturé par des hommes de la multinationale Abstergo. 
            Il est contraint sous la menace d'utiliser une machine appelée Animus pour explorer sa mémoire 
            génétique et revivre les souvenirs de ses ancêtres ; Desmond préfère coopérer. 
        </div>

        <br><br>

        <img style="width: 15%; heigth: auto; float:left; margin-right: 2%; margin-bottom: 2%; margin-top: 2%;" 
             src="https://media.senscritique.com/media/000009737438/source_big/Assassin_s_Creed.jpg"></img>
        
        <br>

        <div style="text-indent: 5%; text-align: justify;">
            Altaïr, son ancêtre, est un Assassin tombé en disgrâce pour ne pas avoir respecté les trois règles 
            du Credo de sa caste. Son maître, Al Mualim, lui offre néanmoins la chance de se racheter en lui 
            confiant les noms de neuf hommes à tuer. Altaïr accepte à contrecœur et part traquer ces hommes. 
            Il réalise au fur et à mesure que ces hommes ont quelque chose en commun. En pourchassant sa 
            dernière cible, Robert de Sablé, Altaïr tombe dans un piège et doit se rendre auprès du roi Richard 
            Ier d'Angleterre, chef de l'armée des Croisés, pour trouver sa cible. Altaïr informe Richard que 
            Robert complote pour trahir son roi et le tuer, s'ensuit un duel entre le Croisé et l'Assassin que ce 
            dernier remporte. Dans son dernier souffle, Robert révèle qu'il y a un dixième homme qui recherchait le 
            Fragment d'Éden : Al Mualim, qui a utilisé Altaïr pour accaparer le Fragment. De retour à la Forteresse 
            de Masyaf, Altaïr se fraye un chemin entre les habitants sous le contrôle du Fragment pour retrouver 
            et tuer son mentor. C'est là que les souvenirs d'Altaïr montrent ce que recherchaient les hommes 
            d'Abstergo, à savoir la localisation des vingt-huit fragments d'Éden dans le monde.
        </div>

        <br>

        <div style="text-indent: 5%; text-align: justify;">
            Durant son immersion, Desmond fait l'expérience d'étranges effets événements. Il découvre 
            d'abord des glyphes laissés apparemment par le sujet précédent (celui qui a laissé les traces 
            de sang chez Abstergo, parce qu'il a été rendu fou à force d'être plongé dans l'Animus) qui 
            cachent plusieurs informations relatives aux complots des Templiers et à une fin du monde 
            imminente. Il fait plus tard le rêve d'être à nouveau Altaïr, pourchassant Maria Thorpe, une 
            femme Templier avec qui il a une relation amoureuse. Finalement, plusieurs années sont passées, 
            ramenant l'intrigue en 1499 au Vatican, où Ezio va affronter Rodrigo Borgia, devenu depuis le 
            pape Alexandre VI. Les souvenirs passés sous silence concernent la Bataille de Forlì et le Bûcher des Vanités.
        </div>
    </p>

    <br>

    <p style="text-align: justify;">
        <h5> Assassin's Creed II </h5>

         <div style="text-indent: 5%; text-align: justify; float: right;">
            Lucy revient pour faire évader Desmond des locaux d'Abstergo. Il est amené dans un repaire 
            caché des Assassins où il rencontre de nouveaux alliés, Shaun et Rebecca, et où il va essayer 
            une version mise à jour de l'Animus. Connaissant maintenant les enjeux, Desmond replonge de son 
            ré dans l'Animus et explore les souvenirs d'Ezio Auditore da Firenze, un jeune noble né en 1459 à 
            Florence en République florentine. De même qu'il a gagné la Vision d'Aigle d'Altaïr, Desmond espère 
            ainsi assimiler les capacités d'Assassin de son aïeul par « effet de transfert » et devenir un 
            Assassin complet.
        </div>

        <br><br><br><br>

        <img style="width: 15%; heigth: auto; float:left; margin-right: 2%; margin-bottom: 2%; margin-top: 2%;" 
             src="https://s1.gaming-cdn.com/images/products/2172/271x377/jeu-uplay-assassins-creed-ii-cover.jpg"></img>
        
        <br>

        <div style="text-indent: 5%; text-align: justify;">
            Le père et les frères d'Ezio sont exécutés par Uberto Alberti, un notable corrompu par les 
            Templiers. Ezio tue Uberto par vengeance, avant de fuir Florence avec sa mère et sa sœur pour 
            la villa familiale à Monteriggioni. Là, il est formé par son oncle Mario à être un Assassin 
            comme son père le fut. Ezio traque ensuite les Templiers à travers l'Italie et se retrouve 
            impliqué dans la conjuration des Pazzi puis les complots autour du palais des Doges à Venise, 
            tramés par les Templiers de son époque, avec à leur tête Rodrigo Borgia. Ezio fait également la 
            rencontre d'un allié d'une aide précieuse, l'inventeur Leonardo da Vinci, qui décode les pages 
            du Codex, un ouvrage cachant les mémoires d'Altaïr ainsi que des plans pour un équipement amélioré 
            d'Assassin. Quand Ezio regarde les pages du Codex par la Vision d'Aigle, les trente pages montrent 
            une carte cachée localisant les différents temples oubliés de « Ceux qui étaient là avant ». Il 
            découvre ainsi les intentions de Borgia : retrouver la Pomme d'Eden, dissimulée à Chypre, afin 
            d'ouvrir le temple situé dans les sous-sols du Vatican.
        </div>

        <br>

        <div style="text-indent: 5%; text-align: justify;">
            De retour en 2012, Abstergo décide d'organiser la récupération des Fragments. Desmond ne semblant 
            plus utile, ils ordonnent de tuer Desmond. Lucy Stillman, une employée d'Abstergo est en fait un 
            Assassin infiltrée, parvenant à les convaincre de le garder en vie jusqu'à ce qu'ils aient récupéré 
            les Fragments. Desmond est donc laissé seul en vie dans la salle de l'Animus, où il découvre qu'il a 
            acquis l'une des facultés de son ancêtre, la Vision d'Aigle, qui lui montre des symboles dessinés 
            partout dans la pièce avec du sang, faisant référence à la fin du monde dans différentes cultures et 
            langues. Borgia est désormais Pape et a en sa possession le Bâton, un autre Fragment d'Eden. 
            Persuadé d'être le Prophète décrit dans les pages du Codex, il tente de pénétrer dans le temple, 
            mais Ezio le rejoint, le bat mais l'épargne, avant d'ouvrir la porte. Il y découvre un hologramme 
            d'une femme, que l'Histoire a appelée Minerve, et qui serait d'une civilisation dont les membres 
            auraient créé les humains. Minerve raconte qu'une catastrophe a failli détruire le monde en son 
            temps et que ceci est sur le point de se reproduire. S'adressant directement à Desmond, elle lui 
            confie la tâche d'empêcher le cataclysme, laissant Ezio dans l'incompréhension.
        </div>
    </p>

    <br>

    <p style="text-align: justify;">
        <h5> Assassin's Creed Brotherhood </h5>

         <div style="text-indent: 5%; text-align: justify; float: right;">
            Assassin's Creed Brotherhood est le titre définitif de ce jeu initialement développé sous le 
            nom « Épisodes ». Le jeu est sorti le 16 novembre 2010 aux États-Unis et le 19 en Europe6. 
            L'intrigue au sein de l'Animus se déroule immédiatement après la fin d'Assassin's Creed II, 
            alors qu'Ezio quitte Rome pour retourner à Monteriggioni afin de rapporter ses découvertes et 
            prendre du repos auprès de son amante, Caterina Sforza. Le lendemain, la ville est assiégée par 
            Cesare Borgia. Ezio tente de repousser l'attaque mais est blessé. Il assiste à la mort de son 
            oncle Mario, l'enlèvement de Caterina et le vol de la Pomme d'Éden. Ezio rejoint donc Rome où, 
            épaulé par Niccolo Machiavelli et les Assassins de la ville, il va libérer la ville du joug des 
            Borgia et récupérer la Pomme. 
        </div>

        <img style="width: 15%; heigth: auto; float:left; margin-right: 2%; margin-bottom: 2%; margin-top: 2%;" 
             src="https://s1.gaming-cdn.com/images/products/2172/271x377/jeu-uplay-assassins-creed-ii-cover.jpg"></img>
            
        <br><br><br><br><br><br>

        <div style="text-indent: 5%; text-align: justify;">
            Pour ce faire, il commence à recruter des hommes parmi les 
            citoyens prêts à se battre et s'allie avec les différentes factions. À plusieurs occasions, Ezio 
            tente même d'infiltrer le château Saint-Ange pour assassiner Rodrigo et Cesare Borgia, sans succès. 
            Lors d'une dernière tentative, Ezio voit Cesare tuer son père en lui enfonçant une pomme empoisonnée 
            dans la bouche, le fruit était destiné à Cesare. Après une poursuite dans le quartier du Vatican, 
            Ezio parvient à récupérer la Pomme d'Éden et fuir. Grâce à l'artefact, il décime les troupes de 
            Cesare, qui finit arrêté mais clame avant de partir qu'aucun homme ne peut le tuer et qu'il se 
            libèrera de ses chaînes. En effet, Cesare s'évade et fuit en Espagne. Ezio le retrouve à Viana, où 
            il le tue. Après cela, Desmond, Lucy, Rebecca et Shaun découvrent que la Pomme d'Éden a été 
            dissimulée sous le Colisée. Au moment où Desmond s'empare de la Pomme, Junon prend le contrôle de 
            son corps et le force à poignarder Lucy, puis le libère de son emprise. Lucy est grièvement blessée, 
            Desmond est dans le coma.
        </div>
        

        <br>

        <div style="text-indent: 5%; text-align: justify;">
            Le contenu du DLC « La Disparition de Da Vinci » se déroule trois ans avant la fin de 
            Brotherhood et s'achève dans l'un des cinq temples et donne les coordonnées GPS d'un lac à 
            New York. Il annonce en avance que quelque chose a été caché dans un temple. Après la 
            dernière séquence, Desmond, toujours dans le coma, entend cependant les voix de nouveaux 
            assassins qui décident d'utiliser les indices découverts pour organiser une mission vers ce 
            nouveau temple.
        </div>

        <br>

        <div style="text-indent: 5%; text-align: justify;">
            Ce titre est le premier de la série à proposer un mode multijoueur en ligne. Les joueurs
            deviennent des employés d'Abstergo qui, à travers l'Animus, revivent les souvenirs de 
            Templiers de la Renaissance dans différents modes de jeu
        </div>
    </p>
    
{% endblock %}