{% extends 'front-layout.html.twig' %}

{% form_theme our_form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section>
        <h1> {{ title }} </h1>

        {{ form(our_form) }}
    </section>
{% endblock %}
